<!DOCTYPE html>
<!-- this website is hosted in M97: /home/nguyenlab/Webs/vn-ner-tagger -->
<!-- services: vn-ner-tagging in TETSUZAN: (/home/groups/qa/tools/py27) sonnguyen@tetsuzan:/home/groups/qa/git-repo/sonnguyen/lstm-tagger-v4/apps/vn-ner$ bash run-app.sh-->
<!-- services: vn-tokenizer in TETSUZAN  : (/home/groups/qa/tools/py27) sonnguyen@tetsuzan:/home/groups/qa/git-repo/sonnguyen/vi-tokenizer-api$ python api.py -->
<html>
    <head>
        <title></title>
        <?php require("include/meta.phtml"); ?>     
    </head>
    <body>

        <center>
        <div id="wrapper">   

            <div id="content">    
                <div id="primary">
                    <?php require($VIEW); ?>
                </div>
            </div>
        </div>
        </center>
    </body>
</html>
