<!-- <div class="sidebox">
    <h2>SHALLOW DISCOURSE PARSER</h2>
    <div class="vmenu">
        <ul>
            <li>
                <a href="index.php">Home</a>
            </li>   
        </ul>
    </div>
</div> -->

<div class="sidebox">
    <h2>EXAMPLES</h2>
    <select id="sltExample" style="width:100%">
    <?php 
        $temp = "examples";
        if (is_dir($temp)) {
            
            if ($dh = opendir($temp)) 
            {                
                while (($file = readdir($dh)) !== false) {
                    if (is_file("$temp/$file"))
                    {
                        echo "<option>".$file."</option>";    
                    }                    
                }
                closedir($dh);
            }
        }
    ?>
    </select>
    <input type="button" value="Load" id="btnLoad" />
</div>